<div class="animal-list-container">
  <h2>Animales en custodia:</h2>

  {{>message}}

  <form action="/animals/search" method="POST" class="form-inline my-2 my-lg-0 justify-content-center filter-form">
    <div class="filtros">
      <h5>Filtros de busqueda</h5>
      <input class="form-control" name="search" type="search">
      <button class="btn btn-success" type="submit">Buscar</button>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Filtrar por
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalFilter"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalFilter">Seleccione las características</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" style="margin: auto">
              <div class="col-sm-6">Sexo:
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="macho" value="macho" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Macho</label>

                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="hembra" value="hembra" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Hembra</label>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                Especie:
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="perro" value="perro" id="customCheck7">
                    <label class="custom-control-label" for="customCheck7">Perro</label>

                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="gato" value="gato" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">Gato</label>

                  </div>
                </div>
              </div>
            </div>
            <div class="row " style="margin: auto; margin-top: 1rem;">
              <div class="col-sm-6">
                Tamaño:
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="Grande" value="Grande" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">Grande</label>

                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="Mediano" value="Mediano"
                      id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Mediano</label>

                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="Pequenio" value="Pequenio"
                      id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Pequeño</label>

                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                Estado:
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="adoptado" value="Adoptado"
                      id="customCheck8">
                    <label class="custom-control-label" for="customCheck8">Adoptado</label>

                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="sinAdoptar" value="Sin adoptar"
                      id="customCheck9">
                    <label class="custom-control-label" for="customCheck9">Sin Adoptar</label>

                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="enProceso" value="En Proceso"
                      id="customCheck10">
                    <label class="custom-control-label" for="customCheck10">En proceso</label>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Aplicar Filtro</button>
          </div>
        </div>
      </div>
    </div>




  </form>


  {{#if animals}}
  <div class="card-group">
    {{#each animals}}
    <div class="card">
      <img src="{{ruta_imagen}}" onerror="this.src='/img/sin_imagen.png'" class="card-img-top">
      <div class="card-body">
        <h5>Nombre: <br> {{nombre}}</h5>
        <h5>Edad:<br> {{edad}}</h5>
        <div class="buttons">
          {{#when estado "eq" "Sin Adoptar"}}
          <a href="#" class="btn btn-danger"> {{estado}} <i class="fas fa-times-circle"></i></a>
          {{/when}}
          {{#when estado "eq" "Adoptado"}}
          <a href="/adoptions/detail_adoption/{{id_animal}}&{{estado}}" class="btn btn-success"> {{estado}} <i
              class="fas fa-check"></i></a>
          {{/when}}
          {{#when estado "eq" "En proceso"}}
          <a href="/adoptions/detail_adoption/{{id_animal}}&{{estado}}" class="btn btn-dark"> {{estado}} <i
              class="fas fa-clock"></i></a>
          {{/when}}
          <a href="/animals/detail/{{id_animal}}" class="btn btn-primary">Ver Detalles</a>
        </div>
        {{#when estado "eq" "Sin Adoptar"}}
        <a href="/adoptions/add/{{id_animal}}" class="btn btn-info btn-iniciar">Iniciar Proceso De Adopción</a>
        {{/when}}

        <div class="caracteristics">{{caracteristicas}}</div>
      </div>
    </div>

    {{/each}}
  </div>
  {{else}}
  <h2>Sin resultados</h2>

  {{/if}}

</div>

<script>


  var filter = `{{filter.p1}}`;

  var filter = {
    s1: `{{filter.s1}}`,
    s2: `{{filter.s2}}`,
    t1: `{{filter.t1}}`,
    t2: `{{filter.t2}}`,
    t3: `{{filter.t3}}`,
    p1: `{{filter.p1}}`,
    p2: `{{filter.p2}}`,
    e1: `{{filter.e1}}`,
    e2: `{{filter.e2}}`,
    e3: `{{filter.e3}}`,
  };

  console.log(filter);
  var j = 1;
  for (var i in filter) {
    if (filter.hasOwnProperty(i)) {
      if (filter[i] != "") {
        $('#customCheck' + j).attr('checked', true);
      }
      j += 1;
    }
  }


</script>