<div class="animal-add-container">
  <h2>Animales en custodia:</h2>

  {{>message}}
  <div class="card-group">
    {{#each animals}}
    <div class="card">
      <img src="{{ruta_imagen}}" class="card-img-top">
      <div class="card-body">
        <h5>Nombre: <br> {{nombre}}</h5>
        <h5>Edad:<br> {{edad}}</h5>
        <div class="buttons">
          <a href="#" class="btn btn-danger"> {{estado}} <i class="fas fa-check"></i></a>
          <a href="/animals/detail/{{id_animal}}" class="btn btn-primary">Ver Detalles</a>
        </div>
        <a href="/adoptions/add/{{id_animal}}" class="btn btn-info btn-iniciar">Iniciar Proceso De Adopción</a>
        <div class="caracteristics">{{caracteristicas}}</div>


      </div>
    </div>

    {{/each}}
  </div>

</div>