<nav aria-label="Page navigation example" style="padding-top: 7%;">
  <ul class="pagination justify-content-center">

    
    <form class="form-inline">
      <label  class="form-control mr-sm-2" style="border: none;">Busqueda:  </label>
      <input class="form-control mr-sm-2" type="search" placeholder="Ingrese el nombre de la animal" aria-label="Search">

      <button class="btn btn-success my-2 my-sm-0"  type="submit">Buscar</button>
    </form>
  </ul>
</nav>

<div class="text">
  
  <h2 style="color: black;">Animales en custodia:</h2></div>

<div class="card-group">
  {{#each animales}}
  <div class="col mb-2" style="width: 20rem; padding-top: 5%;">
    <div class="card border-dark" style="width: 17rem;">
      <img src="{{ruta_imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">{{nombre}} <a href="/amimals/delete"
            class="btn btn-success">ADOPTADO <i class="fas fa-check"></i></a></h5>
        <p class="card-text">{{caracteristicas}} </p>
        <p class="card-text">Edad: {{edad}}</p>
        <a href="/amimals/delete" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
  </div>
  <div class="col mb-2" style="width: 20rem; padding-top: 5%;">
    <div class="card border-dark" style="width: 17rem;">
      <img src="{{ruta_imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">{{nombre}} <a href="/amimals/delete"
            class="btn btn-success">ADOPTADO <i class="fas fa-check"></i></a></h5>
        <p class="card-text">{{caracteristicas}} </p>
        <p class="card-text">Edad: {{edad}}</p>
        <a href="/amimals/delete" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
  </div>
  <div class="col mb-2" style="width: 20rem; padding-top: 5%;">
    <div class="card border-dark" style="width: 17rem;">
      <img src="{{ruta_imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">{{nombre}} <a href="/amimals/delete"
            class="btn btn-success">ADOPTADO <i class="fas fa-check"></i></a></h5>
        <p class="card-text">{{caracteristicas}} </p>
        <p class="card-text">Edad: {{edad}}</p>
        <a href="/amimals/delete" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
  </div>
  <div class="col mb-2" style="width: 20rem; padding-top: 5%;">
    <div class="card border-dark" style="width: 17rem;">
      <img src="{{ruta_imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">{{nombre}} <a href="/amimals/delete"
            class="btn btn-success">ADOPTADO <i class="fas fa-check"></i></a></h5>
        <p class="card-text">{{caracteristicas}} </p>
        <p class="card-text">Edad: {{edad}}</p>
        <a href="/amimals/delete" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
  </div>
  <div class="col mb-2" style="width: 17rem; padding-top: 5%;">
    <div class="card border-dark" style="width: 17rem;">
      <img src="{{ruta_imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 25px;">{{nombre}} <a href="/amimals/delete"
            class="btn btn-success">ADOPTADO <i class="fas fa-check"></i></a></h5>
        <p class="card-text">{{caracteristicas}} </p>
        <p class="card-text">Edad: {{edad}}</p>
        <a href="/amimals/delete" class="btn btn-primary">Ver Detalles</a>
      </div>
    </div>
  </div>

  {{/each}}
</div>

<nav aria-label="Page navigation example" style="padding-top: 2%;">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Atras</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  </ul>
</nav>