<div class="heroSection">
    <div class="heroContent">
        <div class="text">
            <h1>Bienvenido a nuestra plataforma!</h1>
            <h2>Adopta un cachorrito</h2>
            <button class="btn btn-adoptar button-message">Quiero adoptar</button>
        </div>

        <div class="social-container">
            <a href="https://es-la.facebook.com/fundamorcalarca/" target="_blanc"> <i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCNkfxop_V7eirZh_qmgdWfA" target="_blanc"
                class="fab fa-youtube"></a>
            <a href="https://www.instagram.com/fundamorcalarca/" target="_blanc" class="fab fa-instagram"></a>
        </div>
    </div>
</div>


<div class="carrousel-wrapper">
    <section class="regular slider">

        {{#each animals}}
        <div>
            <img src="{{ruta_imagen}}">
        </div>
        {{/each}}
    </section>
    <script>
        $('.slider').slick({
            centerMode: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            infinite: true,
            mobileFirst: true,
            cssEase: 'linear',
            variableWidth: true,
        });
    </script>
</div>


<div class="public animal-list-container">
    <h2>Animales en custodia:</h2>

    {{>message}}

    {{#if animals}}
    <div class="card-group">
        {{#each animals}}

        <div class="card">
            <img src="{{ruta_imagen}}" onerror="this.src='/img/sin_imagen.png'" class="card-img-top">
            <div class="card-body">
                <h5>Nombre: <br> {{nombre}}</h5>
                <h5>Edad:<br> {{edad}}</h5>
                <h5>Sexo:<br> {{sexo}}</h5>

                <div class="caracteristics">{{caracteristicas}}</div>
                <a href="/adopters/add/{{id_animal}}" class="btn btn-warning btn-iniciar">Quiero Adoptarlo</a>
            </div>
        </div>

        {{/each}}
    </div>
    {{else}}
    <h2>Sin resultados</h2>
    {{/if}}

    <nav aria-label="..." class="verlos-todos-wrapper">
        <ul class="pagination justify-content-center" id="paginacion">
            <a type="button" href="/adopters/animals" class="btn btn-warning pulse-button">Verlos todos</a>
        </ul>
    </nav>

</div>

<script>




</script>