<img src="/img/pattern3.svg" class="silhouette">
<div class="form-main-wrapper animal-add">

    <div class="form-container">
        <div class="form-content">
            <form>

                <h2 class="form-title"> <i class="fas fa-cat"></i> Respuestas Del Cuestionario<i class="fas fa-dog"></i>
                </h2>

                <div class="form-row">

                    <div class="col-md-12 mb-3">
                        <label>¿Quien es la persona que autoriza la adopción?</label>

                        <input type="text" class="form-control" value="{{questionary.nombre}}" readonly>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Todos los miembros de la familia están de acuerdo con la adopción de la
                            mascotal?</label>
                        <input type="text" class="form-control" value="{{questionary.pregunta1}}" readonly>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Actualmente tiene otros animales?</label>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{questionary.pregunta2}}" readonly>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>¿Cuales?</label>
                                <input type="text" name="q2cuales" value="{{questionary.q2cuales}}" class="form-control"
                                    readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Anteriormente ha tenido otros animales?</label>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{questionary.pregunta3}}" readonly>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>¿Cuales?</label>
                                <input type="text" name="q3cuales" value="{{questionary.q3cuales}}" class="form-control"
                                    readonly>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label>¿Que paso con ellos?</label>
                                <input type="text" name="q3cuales" value="{{questionary.q3historia}}"
                                    class="form-control" readonly>
                            </div>
                            <label>¿Cumplieron con el plan da vacunación y desparasitación establecido?</label>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{questionary.pregunt4}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Hay niños en la casa?</label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{questionary.pregunta5}}" readonly>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Edades:</label>
                            <input type="text" name="edades" value="{{questionary.edades}}" class="form-control"
                                readonly>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Alguno de sus vecinos tiene mascota?</label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{questionary.pregunta6}}" readonly>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>En caso de alquiler, ¿sus arrendadores permiten animales en la casa o
                            departamento?</label>
                        <input type="text" class="form-control" value="{{questionary.pregunta7}}" readonly>

                    </div>
                    <div class="col-md-12 mb-3">
                        <label>Si por algún motivo tuviera que cambiar de domicilio, ¿Qué pasaría con la
                            mascota?</label>
                        <input type="text" name="pregunta8" {{questionary.pregunta8}} class="form-control" readonly>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Cuentan con el espacio adecuado para tener la mascota?</label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{questionary.pregunta9}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a dedicar el tiempo que requiera su etapa de entrenamiento?</label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{questionary.pregunta10}}" readonly>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Pueden cuidar responsablemente el adoptado hasta que se muera de vejez?</label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{questionary.pregunta11}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Cuentan con el dinero para cubrir las necesidades básicas como el alimento, las vacunas
                            anuales, la desparasitación trimestral, juguetes y los artículos de limpieza e higiene?
                        </label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{questionary.pregunta12}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a pagar los gastos veterinarios si la mascota se enferma?</label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{questionary.pregunta13}}" readonly>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Están dispuestos a recoger sus excrementos cuando haga sus necesidades fuera de
                            casa?</label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="{{questionary.pregunta14}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Donde Dormirá la mascota?</label>
                        <input type="text" name="pregunta15" {{questionary.pregunta15}} class="form-control" readonly>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>En caso de una ruptura en la familia (divorcio, fallecimiento) o de la llegada de un
                            nuevo integrante humano,¿Son concientes de que el adoptado será un miembro mas de la
                            familia?</label>
                        <input type="text" class="form-control" value="{{questionary.pregunta16}}" readonly>

                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Son concientes de que el adoptado será un miembro mas de la familia?</label>
                        <input type="text" class="form-control" value="{{questionary.pregunta17}}" readonly>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label>¿Estan de acuerdo en que se haga una visita periódica a su domicilio para ver como se
                            encuentra el adoptado?</label>
                        <input type="text" class="form-control" value="{{questionary.pregunta18}}" readonly>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label>¿Que características buscan en la nueva mascota? (Especie, Tamaño, edad, sexo,
                            temperamento)</label>
                        <input type="text" name="pregunta19" class="form-control" value="{{questionary.pregunta19}}"
                            readonly>
                    </div>
                </div>

            </form>
            <div class="form-inline justify-content-end">
                <a href="javascript:history.back()" class="btn btn-block btn-secondary  mr-sm-2">Atras</a>

            </div>
        </div>
    </div>
</div>