<img src="/img/pattern3.svg" class="silhouette">
<div class="form-main-wrapper animal-add">

    <div class="form-container">
        <div class="form-content">
            <form action="/adopters/update_references" method="POST" class="signup-form" novalidate>

                <h2 class="form-title"> <i class="fas fa-cat"></i> Referencias Del Adoptante <i class="fas fa-dog"></i>
                </h2>


                <h3>Referencia Familiar</h3>
                <div class="form-row">
                   <input type="text" class="form-control"  name="id_adopter" value="{{adopter_id}}" readonly hidden>
                    <div class="col-md-12 mb-3">
                        <label>Nombres y apellidos:</label>
                        <input type="text" id="nombreApellido" name="nombreApellido"
                            value="{{references.nombreApellido}}" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Parentesco:</label>
                        <input type="text" id="parentesco" name="parentesco" value="{{references.parentesco}}"
                            class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Direccion de residencia:</label>
                        <input type="text" id="direccion" name="direccion" value="{{references.direccion}}"
                            class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Ciudad:</label>
                        <input type="text" id="ciudad" name="ciudad" value="{{references.ciudad}}" class="form-control"
                            readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Telefono fijo:</label>
                        <input type="tel" maxlength="7" id="tel_casa" value="{{references.tel_casa}}" name="tel_casa"
                            class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Celular:</label>
                        <input type="tel" maxlength="10" id="celular" name="celular" value="{{references.celular}}"
                            class="form-control" readonly>
                    </div>

                </div>
                <h3>Referencia Personal </h3>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label>Nombres y apellidos:</label>
                        <input type="text" id="nombreApellido1" name="nombreApellido1"
                            value="{{references.nombreApellido1}}" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Parentesco:</label>
                        <input type="text" id="parentesco1" name="parentesco1" value="{{references.parentesco1}}"
                            class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Direccion de residencia:</label>
                        <input type="text" id="direccion1" name="direccion1" value="{{references.direccion1}}"
                            class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Ciudad:</label>
                        <input type="text" id="ciudad1" name="ciudad1" value="{{references.ciudad1}}"
                            class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Telefono fijo:</label>
                        <input type="tel" id="tel_casa1" maxlength="7" name="tel_casa1" value="{{references.tel_casa1}}"
                            class="form-control" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Celular:</label>
                        <input type="tel" id="celular1" maxlength="10" name="celular1" class="form-control"
                            value="{{references.celular1}}" readonly>
                    </div>

                </div>
                <div class="form-inline justify-content-end">
                    <a href="/adopters/get_adopter/{{adopter_id}}" class="btn btn-secondary form-control mr-sm-2">Atras</a>
                    <button type="button" onclick="edit()" class="btn btn-primary form-control mr-sm-2">
                        Habilitar Edición</button>
                    <button type="submit" id="submit" hidden class="btn btn-success form-control mr-sm-2">
                        Guardar</button>

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var ob = '{{references}}';


    function edit() {
        $('input').removeAttr("readonly");
        $('input').removeAttr("disabled");
        $('select').removeAttr("disabled");
        $('textarea').removeAttr("readonly");
        $('#submit').removeAttr("hidden");
        $('#delete').removeAttr("hidden");
        $('button[type=button]').prop("hidden", true);
        $('#nombreApellido').focus();
        $('#inputid').attr("readonly", true);
        $('#estado').attr("readonly", true);
    }

</script>