<div class="form-main-wrapper">
    <img src="/img/silueta_logo.svg" class="silhouette">

    <div class="form-container employees-list-container ">

        <div class="form-content">

            <h2 class="form-title page-content"> <i class="fas fa-cat"></i>
                Colaboradores con acceso a la plataforma <i class="fas fa-dog"></i></h2>

            {{>message}}
            <div class="wrapper">
                <div class="table">
                    <thead>
                        <div class="row header">
                            <div class="cell">
                                Nombre
                            </div>
                            <div class="cell">
                                Cedula
                            </div>
                            <div class="cell">
                                Email
                            </div>
                            <div class="cell">
                                Opciones
                            </div>
                        </div>
                    </thead>
                    <tbody>
                        {{#each employees}}
                        <div class="row">
                            <div class="cell" data-title="Nombre">
                                {{nombre}}
                            </div>
                            <div class="cell" data-title="Cedula">
                                {{cedula}}
                            </div>
                            <div class="cell" data-title="Email">
                                {{email}}
                            </div>
                            <div class="cell" data-title="Opciones">
                                <div class="form-row justify-content-center">
                                    <div class="col-md-6 mb-2">
                                        <a class="btn btn-info" href="/employees/update/{{cedula}}"><i
                                                class="fas fa-edit"></i>
                                        </a>
                                    </div>
                                    <div></div>
                                    <div class="col-md-6 mb-2">
                                        <a class="btn btn-danger" href="/employees/delete/{{cedula}}"><i
                                                class="far fa-trash-alt"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </tbody>
                </div>
            </div>
        </div>




    </div>
</div>



<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "language": {
                "lengthMenu": "Visualizando _MENU_ colaboradores por página",
                "zeroRecords": "No hay nada ",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay elementos",
                "infoFiltered": "(filtrados de _MAX_ colaboradores)",
                "search": "Buscar:",
                "paginate": {
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>