<div class="form-main-wrapper adoptions-list-wrapper">
    <img src="/img/silueta_logo.svg" class="silhouette">

    <div class="form-container">

        <div class="form-content">

            <h2 class="form-title page-content"> <i class="fas fa-cat"></i>
                Procesos de adopci칩n de la fundaci칩n <i class="fas fa-dog"></i></h2>

            {{>message}}
            <div class="table-responsive">
                <table id="table" class="cell-border table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Fecha Estudio</th>
                            <th scope="col">Fecha Entrega</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each adoptions}}
                        <tr>
                            <td>{{id_adopcion}}</td>
                            <td>{{fecha_estudio}}</td>
                            <td>{{fecha_entrega}}</td>
                            <td>{{estado}}</td>
                            <td>
                                <a class="btn btn-info" href="/adoptions/detail/{{id_adopcion}}"><i class="fas fa-edit">
                                    </i></a>
                                {{#when estado "eq" "Aprobada"}}
                                <a class="btn btn-danger" href="/adoptions/tracings/{{id_adopcion}}"><i class=""></i>
                                    Seguimientos </a>
                                {{/when}}
                                <a class="btn btn-danger" href="/adoptions/delete/{{id_adopcion}}"><i
                                        class="far fa-trash-alt"></i> </a>





                                {{/each}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "language": {
                "lengthMenu": "Visualizando _MENU_ procesos por p치gina",
                "zeroRecords": "No hay nada ",
                "info": "P치gina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay elementos",
                "infoFiltered": "(filtrados de _MAX_ de procesos)",
                "search": "Buscar:",
                "paginate": {
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });
    });
</script>